<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<p>Pokemon: </p>
  <% @trainer.pokemon.each do |pokemon| %>
    <p> Name: <%= pokemon.name%>, Level: <%= pokemon.level%>, Health: <%= pokemon.health%> </p>
    <%= button_to "Damage!", damage_path(id: pokemon.id), :class => "button medium", :method => :patch %>
  <% end %>
<%= button_to "New Pokemon", new_path(id: @trainer.id), :class => "button medium", :method => :get if current_trainer == @trainer %>


